.profileWrapper {
  display: flex;
  flex-direction: row;
  margin-left: 7vw;
  margin-top: 4vw;
  gap: 5vw;
  flex-wrap: wrap;
}

.cardWrapper {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  height: 60vh;
  width: 25vw;
  align-items: center;
  overflow: hidden;
  text-align: center;
  background-image: linear-gradient(to right, indigo, rgb(13, 0, 255), indigo);
  border: black solid 3px;
  border-radius: 15px;
  font-size: 2.2em;
}

.text {
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
  width: 80%;
  height: 15vh;
  text-align: center;
  word-wrap: break-word;
  margin: auto;
  padding-top: 1.8vh;
  background: -webkit-linear-gradient(rgb(115, 241, 255), rgb(17, 203, 224));
  background-clip: text;
  background-size: 100%;
  background-repeat: repeat;
  -webkit-text-fill-color: transparent;
  text-decoration: underline rgba(0, 255, 242, 0.8);
  letter-spacing: 2px;
}

.image {
  width: 100%;
  height: 40vh;
}
